:root {
    --blue: #5e72e4;
    --indigo: #5603ad;
    --purple: #8965e0;
    --pink: #e83e8c;
    --light-pink: #F0B5F0;
    --red: #f5365c;
    --orange: #fb6340;
    --yellow: #ffd600;
    --green: #2dce89;
    --teal: #11cdef;
    --cyann: #222222e5;
    --cyann-hover: #e6e8eb;

    --white: #fff;
    --gray: #8898aa;
    --navy-blue: #01022F;
    --nave-blue: #01022F;
    --navy-blue: #01022F;
    --light: #ced4da;
    --lighter: #e9ecef;
    --primary: #5e72e4;
    --secondary: #f7fafc;
    --success: #2dce89;
    --info: #11cdef;
    --info-hover: #3aa1dd;
    --warning: #fb6340;
    --danger: #f5365c;
    --light: #adb5bd;
    --dark: #212529;
    --default: #172b4d;
    --white: #fff;
 
    --text-color: #32325d;
   --text-color1: #000000;
   --text-color2: #606164;
    --box-Shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    /* font: inherit; */
    vertical-align: baseline;
image-rendering: -webkit-optimize-contrast;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


body {
    line-height: 1;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    color:var(--text-color1);;
    scrollbar-width: thin;
    scrollbar-color: rgba(var(--black), .4) rgba(var(--white), .1);
padding-top: 60px;


}

ol,
ul {
    list-style: none;
}

a,router-link{
    text-decoration:none;
    color: inherit;
    text-underline-offset: none;
}

a:hover{
    text-decoration:none !important;

}



input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
    width: device-width;
}

/* nac.css */


nav{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 50px;
/* background-color: #61dafb; */
display: flex;
justify-content: space-between;
padding: 5px 20px;
background-color: #11cdef;
}




.logo-container a{
display: flex;
flex-flow: row;
align-items: center;
justify-content: space-between;
}

.logo-container a span{
margin-left: 10px;
}

.logo-container a img{
padding-top: 8px;
width: 30px;
}

.nav-text{
display: flex;
align-items: center;

}

.nav-text ul{

display: flex;
flex-flow: row;
justify-content: space-between;
align-items: center;
}

.nav-text ul a{

margin: 0 10px;
}
.login-container,.create-account-container{
width: 100%;
/* position: fixed; */
height:100vh;
background-color: #11cdef;
top: 0;
display: flex;
justify-content: center;
align-items: center;
}

.create-account-container{

background-color:blue;

}


.form-container form{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

}


.home-container{
padding-top: 30px;


}

.home-videos-container{
/* margin: 0 auto; */
/* max-width: 70%; */
background-color: #172b4d;
min-height: 100vh;
border-radius: 5px;
display:flex;
flex-flow: column;
padding-top: 2rem;
}


.videos{
display: flex;
padding: 20px;
border-bottom: 2px solid black;
border-radius: 5px;
}

.videos{
display: flex;
padding: 20px;
border-bottom: 2px solid black;
border-radius: 5px;
}


.video-frame{
/* max-height: 100px; */
background-color: black;
display: flex;
justify-content: flex-start;
position: relative;
}
.video-click-background{
position: absolute;
width: 100%;
height: 100%;
cursor: pointer;
}
.video-details{
padding: 20px;
padding-left: 2rem;
display: flex;
flex-flow: column;


}
.videoUpload-container{
height: 80vh;
display: flex;
flex-flow: column;
align-items: center;
position: relative;
padding-top: 50px;
}




.videoUpload-container form input{
width: 100% ;
}

.upload-video{
margin-top: 3rem;
/* position: absolute;
bottom: 10%; */

}


.videoFrame{
width: 550px;
height: 350px;

}
.viewed-video-container{
padding: 20px;
padding-top: 0;
display: flex;
/* justify-content: center; */
position: relative;
/* z-index: -1; */

}

.viewed-video-box{
width: 67%;
background-color: rgb(42, 112, 114);
min-height: 100vh;
/* z-index: -1; */
}



/* All-videos.css */

.all-video-container{
position: fixed;
right: 20px;
width: 30%;
background-color: rgb(112, 27, 27);
height: 100vh;
overflow-y: scroll;
/* z-index: -1; */
}

.all-video-container video{
width: 200px;
height: 150px;

}


.all-video-container iframe{
width: 300px;
height: auto;

}



.all-video-container .video-details{
display: none;
}


.video-frame{
padding: 2rem;
display: flex;
align-items: center;
justify-content: center;


}

/* search.css */


.search-container{
position: relative;
z-index: 1;

}

.search-results{
background-color: white;
border-bottom-left-radius: 5px;
border-bottom-right-radius:5px ;
}

.search-results li{
margin-top: 3px;
cursor: pointer;
}

.search-backdrop{
position: fixed;
height: 100vh;
width: 100%;
background-color: var(--indigo);
left:0;
top: 0;
z-index: -1;
cursor: pointer;
}




/* userPage.css */
.user-container{
display: flex;
position: relative;
justify-content:flex-end;
padding: 0 20px;
}

.user-details-container{
position: fixed;
width: 30%;
background-color: var(--pink);
height: 100vh;
left: 20px;
text-align: center;
}


.user-details-container img{
width: 120px;
height: 120px;
border-radius: 50%;
border: 1px solid black;

}

.user-image{
padding-top: 3rem;

}

.user-videos-container{
width: 68%;
background-color: var(--teal);
min-height: 100vh;
}

